{
  "orbthrow" : "/scripts/az-exnorb/magnabilities/orb_throw.magnability",
  "orbthrowrainbow" : "/scripts/az-exnorb/magnabilities/orb_throw_rainbow.magnability",
  "magshield" : "/scripts/az-exnorb/magnabilities/mag_shield.magnability",
  "magward" : "/scripts/az-exnorb/magnabilities/mag_ward.magnability",
  "magportal" : "/scripts/az-exnorb/magnabilities/mag_portal.magnability"
}